@{
    ViewData["Title"] = "Aluminum – Doors & Windows";
}

<div class="hero">
    
</div>

<div class="product-gallery-tall container">

    <h2 class="text-center my-4">Sliding Doors &amp; Windows</h2>

    <div class="gallery-row">
        <img src="~/images/aluminum/doors-main2.jpg"
             alt="Aluminum sliding doors and windows"
             class="img-fluid" />

        <img src="~/images/aluminum/doors-main3.jpg"
             alt="Aluminum window system"
             class="img-fluid" />
    </div>

</div>
<div class="profile-thumbnails">
  
    

    <div class="product-grid profile-grid-small">
        <div class="product-card">
            <img src="~/images/aluminum/A-0001.png" alt="Profile A-0001" />
            <h3>جارجوبة مسح 0.9<br /><small>A-0001</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0002.png" alt="Profile A-0002" />
            <h3>مسح 0.9 Z<br /><small>A-0002</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0003.png" alt="Profile A-0003" />
            <h3>مسح T 0.9<br /><small>A-0003</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0004.png" alt="Profile A-0004" />
            <h3>ماسكة تك مسح<br /><small>A-0004</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0005.png" alt="Profile A-0005" />
            <h3>جارجوبة 1.1<br /><small>A-0005</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0006.png" alt="Profile A-0006" />
            <h3>Z 1.1<br /><small>A-0006</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0007.png" alt="Profile A-0007" />
            <h3>T 1.1<br /><small>A-0007</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0008.png" alt="Profile A-0008" />
            <h3>ماسكة دبل<br /><small>A-0008</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0012.png" alt="Profile A-0012" />
            <h3>جارجوبة قصيف مسح<br /><small>A-0012</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0013.png" alt="Profile A-0013" />
            <h3>مسح قصيف Z<br /><small>A-0013</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0014.png" alt="Profile A-0014" />
            <h3>T مسح قصيف<br /><small>A-0014</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/A-0016.png" alt="Profile A-0016" />
            <h3>T دمار عريض<br /><small>A-0016</small></h3>
        </div>
    </div>
</div>
