@using Microsoft.AspNetCore.Mvc.Rendering
@model ZinarCompany.Models.Product
@{
    ViewData["Title"] = "Create Product";
}

<h2>Create Product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MaterialType" class="form-label"></label>
        <select asp-for="MaterialType" class="form-select">
            <option value="">-- Select Material --</option>
            <option>Wood</option>
            <option>Aluminum</option>
        </select>
        <span asp-validation-for="MaterialType" class="text-danger"></span>
    </div>
   
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Product Image</label>
        <input type="file"
               name="imageFile"
               class="form-control"
               accept="image/*" />
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label"></label>
            <select asp-for="CategoryId"
                    asp-items="@(ViewData["CategoryId"] as SelectList)"
                    class="form-control">
                <option value="">-- Select Category --</option>
            </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
