@{
    ViewData["Title"] = "Aluminum Sliding Profiles";
}

<div class="hero">
    
</div>

<div class="product-gallery-tall container">

    <h2 class="text-center my-4">Sliding System </h2>

    <div class="gallery-row">
        <img src="~/images/aluminum/sliding-main1.jpg"
             alt="Aluminum sliding system example"
             class="img-fluid" />

        <img src="~/images/aluminum/sliding-main2.jpg"
             alt="Frameless sliding glass system example"
             class="img-fluid" />
    </div>

</div>
<div class="profile-thumbnails">
    <h2 class="text-center mt-4 mb-3">Sliding Profile </h2>

    <div class="product-grid profile-grid-small">
        <div class="product-card">
            <img src="~/images/aluminum/S-0001.png" alt="S-0001" />
            <h3>4 خط 9.5 بدون ري<br /><small>S-0001</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/S-0002.png" alt="S-0002" />
            <h3>3 خط 9.5 بدون ري<br /><small>S-0002</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/S-0003.png" alt="S-0003" />
            <h3>3 خط 7.5 بدون ري<br /><small>S-0003</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/S-0004.png" alt="S-0004" />
            <h3>4 خط 10 سم ري<br /><small>S-0004</small></h3>
        </div>
        <div class="product-card">
            <img src="~/images/aluminum/S-0005.png" alt="S-0005" />
            <h3>3 خط 7.5 سم ري<br /><small>S-0005</small></h3>
        </div>
    </div>
</div>
